.full {
    height: calc(100vh - 120px);
}

section#access {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.info {
    width: 50vw;
    padding: 20px;
}

.info table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
    font-size: 1em;
}

.info th,
.info td {
	padding: 10px;
    padding-left: 20px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.info th {
	background-color: lightgray;
}

.info td a {
    color: black;
}

.info tr:nth-child(2) td a {
    text-decoration: none;
}

.info p{
    padding: 10px;
}

.info {
	margin-top: 20px;
}

.info h2 {
	font-size: 20px;
	color: #8C030E;
	margin-bottom: 10px;
}

.info ul {
	list-style: none;
	padding-left: 20px;
	margin: 10px 0;
}

.info li {
	margin-bottom: 10px;
	font-size: 16px;
	color: #333;
	position: relative;
	padding-left: 20px;
}

.info li::before {
	content: "-";
	position: absolute;
	left: 0;
	color: #8C030E;
}


.info li b {
	color: #8C030E;
}


.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50vw;
    padding: 10px;
}

.map h2 {
	font-size: 20px;
	color: #8C030E;
	margin-bottom: 10px;
}